.admsub{
    width: 20% ! important;
}
.admininp{
    margin-left: 15% ! important;
}
.invalidtxt{
    margin-left: 30% ! important;
}
.flex{
    width: 360px;
    align-self: center;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:0px auto;
}

