.logout-btna{
    color: white;
    background-color: rgb(209, 70, 70);
    border-color:rgb(209, 70, 70);
    border-width: 3px;
    border-radius: 20px;
    margin: 15px;
    margin-left: 1px;
    margin-bottom: 50px;
    min-width: 94px;
    min-height: 10px;
    position: fixed;
    bottom: 0;
    margin-right: 10px;
    z-index: 1;
}
.chart{
    height: 80%;
    color: white;
    padding: 20px;
    overflow-y: scroll;
    position: absolute;
    height: 40%;}
.dp{
    margin-left: 30px !important;
}
.uname{
    padding: 1%;
    color: #ff62ab;
    font-size: 35px;   
}
.doc{
    margin-left: 30% !important;
}