@import './vars.scss';
@import './global.scss';
.admsub{
    font-size: 30px;
    align-self: center;
    background:$primary;
    color: #fff;
    border: none;
    border-radius: 20px 20px;
    height: 45px;
    min-width: 120px;
    margin-left: 30%;
    margin-top: 5%;
    width: 40% ! important;
}
.form{
    margin: auto;
    max-width: 800px;
    padding: 10px;
    min-width: 150px;
}
.admininp{
    margin-left: 15% ! important;
}
.invalidtxt{
    margin-left: 30% ! important;
}
.flex{
    width: 360px;
    align-self: center;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:0px auto;
}

