
.appointment{
    height: 100%;
}
.sidepan{
    height: 100%;
    background-color: #ff62ab;
    min-width: 144px;
}
.main{
    height: 100%;
}
.doc{
    color: white;
    font-size: 30px;
    padding: 15px;
    align-self: center;
}
.dp{
    background-color: skyblue;
    height: 110px;
    width: 110px;
    margin: 5px;
    border-radius: 50%;
}
.description{
    color: white;
    padding: 20px;
}
.t1{
    text-align: center;
    font-weight: bold;
    align-items: center;
}
.t2{
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    border-color: whitesmoke;
    border-bottom: black;
    border-width: 1px;
    border-style: solid;
    color: #ff62ab;
}
.ta{
    text-align: center;
    
}
.appt-a{background-color: rgb(248, 248, 248);border-radius: 10px;padding: 5px;}
.appt-b{background-color: rgb(111, 250, 111);border-radius: 10px;padding: 5px;}
.appt-c{background-color: rgb(209, 70, 70);border-radius: 10px;padding: 5px;}
td{
    width: 200px;
}
.flexbox{
    display:flex;
    justify-content: flex-end;
}
.datepiktxt{
    color: #ff62ab;
    padding: 10px;

}
.datepikbtn{
    border-radius: 25px;
    height: 35px;
    color: whitesmoke;
    background-color: #ff62ab;
}
.react-calendar {
    border-radius: 4px;
    width: 350px;
    max-width: 100%;
    background: white;
    font: inherit;
    line-height: 1.125em;
    border: 0;
    overflow: hidden;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    font: inherit;
    font-size: 0.8em;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__navigation {
    height: 44px;
    margin-bottom: 10px;
}
.appointment{
    width: 100%;
    border: 1px solid black;
}
.header{
    font-size: 40px;
    color: #ff62ab;
    margin-left: 10%;
}
hr.solid{
    border-top: 2px solid #fff;
    border-radius: 2px;
}
