
.appointment{
    height: 100%;
}
.sidepan{
    height: 100%;
    background-color: #ff62ab;
    min-width: 144px;
}
.main{
    height: 100%;
}
.calander{
    
}
.header{
    font-size: 40px;
    color: #ff62ab;
    margin-left: 10%;
}
hr.solid{
    border-top: 2px solid #fff;
    border-radius: 2px;
}
