.dp{
    background-color: skyblue;
    height: 110px;
    width: 110px;
    margin: 5px;
    border-radius: 50%;
}
.inputbox{
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    min-width: 195px;
    border-width: 3px;
    border-style: solid;
    border-color:$primary;
}
.buttons{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 30px;
    min-width: 130px;
    color: #888;
    width: 50%;;
    background: transparent;
    border:$primary;
    outline: none;
    text-align: center;
}