.dp{
    background-color: skyblue;
    height: 110px;
    width: 110px;
    margin: 5px;
    border-radius: 50%;
}
.inputbox{
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    min-width: 195px;
    border-width: 3px;
    border-style: solid;
    border-color:$primary;
}