
.fname{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;}
.lname{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;}
.gen{
    margin: 0%;
    width: 100%;
    margin-top: 5%;}
.desc{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    height: 200px;
    margin-top: 5%;}
.submit{
    font-size: 30px;
    align-self: center;
    background: #f570ae;
    color: #fff;
    border: none;
    border-radius: 20px 20px;
    width: 30%;
    height: 45px;
    min-width: 120px;
    margin-left: 30%;
    margin-top: 5%;}
.datepiktxt{
    color: #ff62ab;
    padding: 10px;
}
.modal-calendar{
    margin: 0px;
    left:20%;
    position: absolute;
    width: 50%;
    height: 30%;
    padding: 0;
    }
.header{
    justify-content: center;
    margin: 0%;
    padding: 1%;
    font-size: 40px;
    color: whitesmoke;
    background-color: #ff62ab;
    text-align: center;
}
.row{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 2%;
}
.bookfor{
    padding: 2%;
    text-align: center;
    color:  #ff62ab;
    font-size: 20px;
}
.hint{
    padding: 1%;
    text-align: left;
    color: gray;
}
.form{
    margin: auto;
    max-width: 800px;
    padding: 10px;
    min-width: 150px;
}
.spinner-border{
    color: whitesmoke !important;
    margin: 0% !important; 
}
@media only screen and (min-width: 800px) {
    form{
        margin: auto;
        width: 50%;
        padding: 10px;
        padding-top: 5%;
        min-width: 150px;
    }
  }