@import './vars.scss';
@import './global.scss';
.fname{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;}
.lname{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;}
.gen{
    margin: 0%;
    width: 100%;
    margin-top: 5%;}
.desc{
    min-width: 150px;
    width: 100%;
    height: 100%;
    padding: 2%;
    height: 200px;
    margin-top: 5%;}
.submit{
    font-size: 30px;
    align-self: center;
    background:$primary;
    color: #fff;
    border: none;
    border-radius: 20px 20px;
    width: 30%;
    height: 45px;
    min-width: 120px;
    margin-left: 30%;
    margin-top: 5%;}
.patsub{
    margin-left: 33% !important;
}
.datepiktxt{
    color:$primary;
    padding: 10px;
}
.modal-calendar{
    margin: 0px;
    left:20%;
    position: absolute;
    width: 50%;
    height: 30%;
    padding: 0;
    }
.header{
    justify-content: center;
    margin: 0%;
    padding: 1%;
    font-size: 40px;
    color: whitesmoke;
    background-color:$primary;
    text-align: center;
}
.row{
    min-width: 150px;
    width: 100%;
    padding: 2%;
    margin-top: 2%;
}
.bookfor{
    padding: 2%;
    text-align: center;
    color:  #ff62ab;
    font-size: 20px;
}
.hint{
    padding: 15px;
    text-align: left;
    color: gray;
}
.form{
    margin: auto;
    max-width: 800px;
    padding: 10px;
    min-width: 150px;
}
.spin-pink{
    margin: auto !important;
    color: $primary !important;
}
.spin-cont{
    margin-left: 50% !important;}
    .react-calendar {
        height: 300px;
        width: 600px;
        }
@media only screen and (min-width: 800px) {
    .formc{
        margin: auto;
        width: 50%;
        padding: 10px;
        padding-top: 5%;
        min-width: 150px;
    }
    
  }

  @media only screen and (max-width: 450px) {
  .react-calendar {
    height: 300px;
    width: 350px;
    }
}