@import './vars.scss';
@import './global.scss';
.viewappt{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.header{
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    background-color:$primary;
    margin: 0.1% !important;
}
.textbox{
    height: 100%;
    width: 100%;
    padding: 4%;
    padding-left: 20%;
}

.spin-pink{
    margin: auto !important;
    color: #ff62ab !important;
}
.spin-cont{
    margin-left: 50% !important;}
.x{
    font-size: 20px;
}
.y{  
    color: #ff62ab ;
    padding: 2%;
    font-size: 25px;
}